<div>
  <h1>Categorías</h1>
</div>

<div class="row">
  <div class="col-6 d-flex">
    <button mat-raised-button (click)="agregarCategoria()">Añadir</button>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <mat-form-field>
      <div>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar..."
          #input
        />
      </div>
    </mat-form-field>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let categoria">{{ categoria.nombre }}</td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let categoria">{{ categoria.descripcion }}</td>
    </ng-container>

    <!-- Utiles Column -->
    <ng-container matColumnDef="utiles">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let categoria" class="text-center">
        <mat-icon (click)="detalle(categoria.id)" matTooltip="Editar"
          >edit</mat-icon
        >
        <mat-icon (click)="consultaEliminar(categoria.id)" matTooltip="Eliminar"
          >delete</mat-icon
        >
        <mat-icon
          (click)="consultaElimininarProductos(categoria.id)"
          matTooltip="Eliminar productos asociados"
          >delete_sweep</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!--Filtro de busqueda -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se encontraron búsquedas para "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Seleccione elementos por página"
  ></mat-paginator>
</div>

<!--Detalles -->
<div
  *ngIf="categoria != null && detallesCategoria; then detallesCategoriaMostrar"
></div>

<ng-template #detallesCategoriaMostrar>
  <div class="mt-4 row">
    <div class="col-9">
      <h2>Categoría: {{ categoria.nombre }}</h2>
    </div>
    <div class="col-3 text-end">
      <mat-icon
        matTooltip="Confirmar Modificación"
        (click)="modificarCategoria(categoria)"
        >check</mat-icon
      >

      <mat-icon (click)="cancelar()" matTooltip="Cancelar Modificación"
        >close</mat-icon
      >
    </div>
  </div>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre:</th>
          <th scope="col">Descripción:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td contenteditable="true">
            <input type="text" [(ngModel)]="categoria.nombre" />
          </td>
          <td contenteditable="true">
            <textarea
              type="text"
              [(ngModel)]="categoria.descripcion"
            ></textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</ng-template>
