<div><h1>Proveedores</h1></div>

<div class="row">
  <div class="col-6 d-flex">
    <button mat-raised-button (click)="agregarProveedor()">Añadir</button>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <mat-form-field>
      <div>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar..."
          #input
        />
      </div>
    </mat-form-field>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Ruc Column -->
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>Ruc</th>
      <td mat-cell *matCellDef="let proveedor">{{ proveedor.ruc }}</td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let proveedor">{{ proveedor.nombre }}</td>
    </ng-container>

    <!-- Utiles Column -->
    <ng-container matColumnDef="utiles">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let proveedor" class="text-center">
        <mat-icon (click)="editar(proveedor.ruc)" matTooltip="Editar"
          >edit</mat-icon
        >
        <mat-icon
          (click)="consultaEliminar(proveedor.ruc)"
          matTooltip="Eliminar"
          >delete</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!--Filtro de busqueda -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se encontraron búsquedas para "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Seleccione elementos por página"
  ></mat-paginator>
</div>

<!--Detalles -->
<div
  *ngIf="proveedor != null && detallesProveedor; then detallesCategoriaMostrar"
></div>

<ng-template #detallesCategoriaMostrar>
  <div class="mt-4 row">
    <div class="col-9">
      <h2>Proveedor: {{ proveedor.nombre }}</h2>
    </div>
    <div class="col-3 text-end">
      <mat-icon
        matTooltip="Confirmar Modificación"
        (click)="modificarProveedor(proveedor)"
        >check</mat-icon
      >
      <mat-icon (click)="cancelar()" matTooltip="Cancelar Modificación"
        >close</mat-icon
      >
    </div>
  </div>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td contenteditable="true">
            <input type="text" [(ngModel)]="proveedor.nombre" />
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</ng-template>
