<div><h1>Trabajadores de Sucursal: {{nombreSucursal}}</h1></div>

<div class="row">
  <div class="col-6 d-flex justify-content-start">
    <button mat-raised-button (click)="volverSucursal(codigo)">Atrás</button>
    <button mat-raised-button (click)="agregarTrabajador()">Añadir</button>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <mat-form-field>
      <div>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar..."
          #input
        />
      </div>
    </mat-form-field>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Documento Column -->
    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let trabajador">{{ trabajador.documento }}</td>
    </ng-container>

    <!-- Nombre Completo Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let trabajador">
        {{ trabajador.nombre }} {{ trabajador.apellido }}
      </td>
    </ng-container>

    <!-- Nombre de Usuario Completo Column -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Nombre de Usuario</th>
      <td mat-cell *matCellDef="let trabajador">
        {{ trabajador.nombreUsuario }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let trabajador">{{ trabajador.email }}</td>
    </ng-container>

    <!-- Utiles Column -->
    <ng-container matColumnDef="utiles">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let trabajador" class="text-center">
        <mat-icon matTooltip="Detalles" (click)="detalle(trabajador.documento)">info</mat-icon>

        <mat-icon matTooltip="Eliminar" (click)="consultaEliminar(trabajador.documento)">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!--Filtro de busqueda -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se encontraron búsquedas para "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Seleccione elementos por página"
  ></mat-paginator>
</div>
