h1 {
  padding: 15px 0px;
  font-size: 40px;
  font-family: "DM Serif Text";
  color: #85586f;
}

/* Estilos para resoluciones menores a 991px */
@media (max-width: 991px) {
  h1 {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

}
