@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lora&display=swap');

@font-face {
    font-family: 'DM Serif Text', serif;
    font-family: 'Lora', serif;
    src: url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lora&display=swap');
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0;
}



h1{
    font-family: 'DM Serif Text';
    font-size: 20px;
}

p{
    font-family: 'Lora';
    color: #85586F;
}
