h1 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: "DM Serif Text";
  color: #85586f;
}

h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-family: "DM Serif Text";
  color: #85586f;
}

label {
  font-family: "DM Serif Text";
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}

button {
  margin: 20px;
}

div {
  align-items: center;
  text-align: center;
}

#fondo {
  padding: 20px;
}

form {
  background-color: #85586f;
}

p {
  font-family: "Lora";
}

.btn {
  top: -100%;
  right: 0;
  width: 200px;
  height: 100%;
  background: #d0b8a8;
  border-color: #d0b8a8;
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.btn :focus {
  background: #d0b8a8;
  border-color: #d0b8a8;
}


/* Estilos para resoluciones menores a 991px */
@media (max-width: 991px) {
  h1 {
    font-size: 35px;
  }

  h2{
    font-size: 22px;
  }

  label {
    font-size: 17px;
  }

  .small-dropdown .p-dropdown .p-dropdown-label  {
    font-size: 13px !important;
    padding: 5px !important;
  }

}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2{
    font-size: 20px;
  }

  label {
    font-size: 15px;
  }

  .small-dropdown .p-dropdown .p-dropdown-label {
    font-size: 11px !important;
    padding: 3px !important;
  }
}
