h1 {
  padding: 15px;
  font-size: 40px;
  font-family: "DM Serif Text";
  color: #85586f;
}

table,
mat-paginator {
  width: 100%;
}

.btnComponenteCliente {
    float: right;
    margin-top: 2px;
}

.tamannoRadio{
  font-size: 16px;
}
